<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/css/login.css">
    <title>登入系統</title>

</head>
<body>
    <!-- upper bar V -->
    <div class="top">
        <a href="/" class="bar white">Home</a>
        <a href="/uploadFile" class="bar">Intro</a>
        <a href="/index.html" class="bar">Games</a>
        <a href="/login" class="bar barRight">Login</a>

    </div>

    <div class="loginBox">
        <div class="loginTitle">登入</div>
        <form action="/" method="get">
            <input type="text" class="textbar" placeholder="輸入帳號">
            <br><br>
            <input type="password" class="textbar" placeholder="輸入密碼">
            <br><br>

            <input type="submit" class="textbar" value="登入">
            <!-- <button id="lineLoginBtn" >註冊</button> -->

        </form>


        <div class="LineLogin">
            <div class="LineBotton" id="lineLoginBtn"></div>
            <!-- LINE 登入</button> -->

            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
            <script>
                $('#lineLoginBtn').on('click', function(e) {
                    let client_id = '1656452766';
                    let redirect_uri = 'https://kevin38645.github.io/';
                    let link = 'https://access.line.me/oauth2/v2.1/authorize?';
                    link += 'response_type=code';
                    link += '&client_id=' + client_id;
                    link += '&redirect_uri=' + redirect_uri;
                    link += '&state=login';
                    link += '&scope=openid%20profile';
                    window.location.href = link;
                });
            </script>
        </div>
    </div>

</body>
</html>